:root {
  font-family: sans-serif;
  background-color: #373737;
  background-image: linear-gradient(
    108.7deg,
    rgb(43, 43, 43) 11%,
    rgb(37, 37, 37) 88.2%
  );
  background-attachment: fixed;
  background-size: 100% 100%;
}

html {
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: rgb(240, 240, 240);
  line-height: 1.5em;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header > .head-photo {
  position: relative;
  display: flex;
}

.head-photo > h1 {
  position: absolute;
  font-size: 12vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 11vw;
  user-select: none;
  display: block;
  padding: 13%;
  color: #131313;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-shadow {
  text-shadow:
    2px 8px 6px rgba(97, 97, 97, 0.2),
    0px -5px 35px rgba(0, 0, 0, 0.3);
}

header picture > img {
  margin: 10%;
  border-radius: 3px;
  width: 80%;
}

.box-shadow {
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 8px;
}

header section,
main,
.footer-container {
  padding: 0 7%;
}

.polygon-wrapper {
  z-index: -1;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.65));
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-pattern {
  background-image: url(assets/bg.png);
}

.polygon {
  height: 75%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
}

h2 {
  margin-bottom: 1.2%;
  border: solid;
  border-image-source: radial-gradient(
    circle farthest-corner at 10% 20%,
    #b7ce82 0%,
    #becf9500 90%
  );
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-image-slice: 1;
  border-width: 3px;
  height: 32px;
  letter-spacing: 2px;
}

h2::first-letter {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #b6c593 0%,
    #98a871 90%
  );
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-links {
  display: flex;
  justify-content: center;
  padding-bottom: 15%;
}

.about-links div {
  display: flex;
  gap: 10px;
  margin-top: 4%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px #b6c59327 solid;
  border-top: 0;
  border-bottom: 0;
}

svg {
  width: 23px;
  fill: #dadada;
  filter: drop-shadow(0px 2px 10px rgba(17, 17, 17, 0.65));
  cursor: pointer;
}

svg:focus,
svg:hover {
  fill: #c0db82;
}

/* MAIN PART */
.bottom-border {
  border: solid;
  border-image-source: radial-gradient(
    circle farthest-corner at 10% 20%,
    #b7ce82 0%,
    #becf95 90%
  );
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-image-slice: 1;
  border-width: 2px;
}

.gradient-bg {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(46, 46, 46) 0%,
    rgb(26, 26, 26) 90%
  );
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 5% 0;
}

.project-card {
  width: 100%;
  height: 400px;
  border-radius: 3px;
}

.project-card img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-bottom: 0;
  opacity: 0.7;
  border-radius: 3px 3px 0 0;
}

.project-desc {
  padding: 5px 16px;
}

.project-desc p {
  font-size: 0.8rem;
  padding: 1px;
}

.project-desc > div:first-of-type {
  display: flex;
  justify-content: space-between;
  border-width: 2px;
}

.card-links {
  display: flex;
  gap: 10px;
}

.card-links svg {
  width: 20px;
}

/* FOOTER */
footer {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.65));
  padding-top: 5%;
  margin-top: 15%;
}

.footer-container {
  clip-path: polygon(0 25%, 100% 5%, 100% 100%, 0% 100%);
  padding-top: 29%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-container::after {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(46, 46, 46) 0%,
    rgb(26, 26, 26) 90%
  );
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}

.footer-container > div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

footer > picture > img {
  display: flex;
  width: 100%;
}
